<!-- Section contacts -->
<section class="tm-section">
    <div class="tm-container tm-container-sm">
        <h1 class="tm-section-header">The New STM32L4 + Microcontroller</h1>
        <p class="tm-section-paragraph">
            STMicroelectronics has just announced an upgrade to their STM32L4 Cortex-M4 microcontrollers with the new STM32L4+ series. The new chips operate up to 120 MHz, and have more embedded memory—up to 2 MB of flash memory and 640kB of SRAM.
        </p>
        <div class="tm-section-media">
            <figure>
                <img src="/media/cc0-images/elephant-660-480.jpg" alt="Elephant at sunset">
            </figure>
        </div>
        <p class="tm-section-paragraph">
            Aimed squarely at the connected device market, the power consumption of the new processor is low. In ultra-low power mode with just back-up registers active it draws just 20 nA without the real‐time clock (RTC), or 200 nA with the RTC. Operating in ultra-low with 64kB of RAM the chip draws around 1μA, while in dynamic run mode it draws 43μA. Wake‐up time is around 5 μs.
        </p>
        <p class="tm-section-paragraph">
            Applications developed for the earlier STM32L4 microcontrollers can run unchanged on the new devices, but with improved performance. Developers used to the STM32 can use the same development tools, such as ST-Link and STM32CubeL4, that they’re used to using. However while the new processor is software compatible it is only “mostly” pin-compatible so it is not entirely a drop in replacement for the older processor.
        </p>
        <div class="tm-section-media">
            <figure>
                <img src="/media/cc0-images/elephant-660-480.jpg" alt="Elephant at sunset">
            </figure>
        </div>
        <div class="tm-section-media">
            <figure>
                <img src="/media/cc0-images/elephant-660-480.jpg" alt="Elephant at sunset">
            </figure>
        </div>
        <div class="tm-section-media">
            <youtube-player class="w-full aspect-[16/9]" videoId="G1hKzCkywM8"></youtube-player>
        </div>
    </div>
    <div>
    </div>
</section>
<!-- .Section contacts -->
