<!-- Section contacts -->
<section class="tm-section">
    <div class="tm-container">
      <h1 class="tm-section-header">Contact Us</h1>
      <div class="tm-section-content">
        <div class="tm-section-content-text-large">(574) 269-7511</div>
        <div class="tm-section-content-text-large">640 W 300N Warsaw, IN 46582</div>
      </div>
    </div>
    <div>
    </div>
  </section>
  <!-- .Section contacts -->
  
  <!-- Section map -->
  <section class="tm-section">
    <div class="tm-container">
      <app-google-maps></app-google-maps>
    </div>
  </section>
  <!-- .Section map -->