<ng-container *ngFor="let section of page?.sections" >
  <ng-container [ngSwitch]="section.type">
    <ng-container *ngSwitchCase="'cover-1'">
      <!-- Section {{section.type}} -->
      <section class="section-cover bg-rose-400 min-h-[400px] flex justify-center items-center px-4 sm:px-8 py-8 sm:py-16">
        <div class="text-center max-w-xl">
          <ng-container *ngFor="let sectionItem of section?.items" [ngSwitch]="sectionItem.type">
            <h1 *ngSwitchCase="'header'" class="section-cover-header">{{sectionItem.content}}</h1>
            <h2 *ngSwitchCase="'paragraph'" class="section-cover-subheader mt-4">{{sectionItem.content}}</h2>
          </ng-container>
        </div>
      </section>
      <!-- .Section {{section.type}} -->
    </ng-container>
    <ng-container *ngSwitchCase="'blog-1'">
      <!-- Section {{section.type}} -->
      <section class="tm-section pt-0">
        <div class="tm-container">
          <ng-container *ngFor="let sectionItem of section?.items" [ngSwitch]="sectionItem.type">
            <!-- Section Header -->
            <h2 *ngSwitchCase="'header'" class="tm-section-header">{{sectionItem.content}}</h2>
            <!-- .Section Header -->
            <!-- Section paragraph -->
            <p *ngSwitchCase="'paragraph'" class="tm-section-paragraph">{{sectionItem.content}}</p>
            <!-- .Section paragraph -->
            <!-- Section image -->
            <div *ngSwitchCase="'image'" class="tm-section-media">
              <figure>
                <img src="{{imagesUrl}}/tr:n-acw_blog{{sectionItem.path}}" alt="Elephant at sunset" height="{{sectionItem.h}}" width="{{sectionItem.w}}">
              </figure>
            </div>
            <!-- .Section image -->
            <!-- Section youtube -->
            <div *ngSwitchCase="'youtube'" class="tm-section-media">
              <!-- <youtube-player class="w-full aspect-[16/9]" videoId="{{item.videoId}}"></youtube-player> -->
            </div>
            <!-- .Section youtube -->
            <!-- Section gallery -->
            <div *ngSwitchCase="'gallery'" class="tm-section-media">
              <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-4 gap-y-6" uk-scrollspy="target: > div; cls: tm-animation-fade; delay: 50">
                <div *ngFor="let galleryItem of sectionItem.items" class="tm-section-gallery-card">
                  <div class="tm-section-gallery-card-media aspect-[4/3] sm:aspect-[3/2]">
                    <img class="object-cover aspect-[4/3] sm:aspect-[3/2]" src="{{imagesUrl}}/tr:n-acw_blog/acw/sites/642aa8800168276283572d4d/dd23d3d9-aadc-4c29-91b8-cfb89d970845_EJK8HgI1uJ" >
                    <!-- <img class="object-cover aspect-[4/3] sm:aspect-[3/2]" src="{{imagesUrl}}/tr:n-acw_blog{{galleryItem.image}}" > -->
                  </div>
                  <div class="tm-section-gallery-card-title">
                    {{galleryItem.title}}
                  </div>
                  <div class="tm-section-gallery-card-description">
                    {{galleryItem.title}}
                  </div>
                </div>
              </div>
            </div>
            <!-- .Section gallery -->
          </ng-container>
        </div>
      </section>
      <!-- .Section {{section.type}} -->
    </ng-container>
    <ng-container *ngSwitchCase="'map-1'">
      <!-- Section {{section.type}} -->
      <section class="tm-section">
        <div class="tm-container">
          <app-google-maps></app-google-maps>
        </div>
      </section>
      <!-- .Section {{section.type}} -->
    </ng-container>
  </ng-container>
</ng-container>

<!-- Section cover -->
<!-- <section class="section-cover bg-rose-400 min-h-[400px] flex justify-center items-center px-4 sm:px-8 py-8 sm:py-16">
  <div class="text-center max-w-xl">
    <h1 class="section-cover-header">PET GROOMING</h1>
    <h2 class="section-cover-subheader mt-4">Serving The Woodlands, Tomball, Magnolia, Spring, Conroe, Willis, and
      Montgomery</h2>
  </div>
</section> -->
<!-- .Section cover -->

<!-- Section works -->
<!-- <section class="tm-section">
  <div class="tm-container tm-container-sm">
    <h2 class="tm-section-header">Our works</h2>
    <div class="tm-section-content">
      <div class="grid grid-cols-2 gap-4" uk-scrollspy="target: > div; cls: tm-animation-fade; delay: 50">
        <div>
            <img class="object-cover h-full" src="./assets/1000_F_483426068_1u13MYpRAocFgI7u0ij4ujqgg2AePqxf.jpg">
          </div>
        <div *ngFor="let pageWork of pageWorks" class="aspect-[3/2] bg-slate-400">
          <img class="object-cover aspect-[3/2]" src="./assets/images/{{pageWork.image}}">
        </div>
      </div>
    </div>
    <div class="mt-10 text-center">
      <button class="tm-button tm-button-primary" (click)="loadNextWorks()" [disabled]="!works.length">More
        works...</button>
    </div>
  </div>
</section> -->
<!-- .Section works -->

<!-- Section contacts -->
<!-- <section class="tm-section pt-0">
  <div class="tm-container">
    <h2 class="tm-section-header">Contact Us</h2>
    <div class="tm-section-content">
      <div class="tm-section-content-text-large">(574) 269-7511</div>
      <div class="tm-section-content-text-large">640 W 300N Warsaw, IN 46582</div>
    </div>
  </div>
</section> -->
<!-- .Section contacts -->